@import "../../css/Colors.scss";

.login-page-wrapper :global {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;

  .input-feedback {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    color: #fff;
    opacity: .65;
    position: relative;
    bottom: -2px;
    left: 11px;
    letter-spacing: 1px;
    min-height: 36px;
    text-align: left;
  }

  .ant-form {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ant-input {
      //box-shadow: 0 0 2px -2px #01fdae;
    }

    .ant-input-affix-wrapper {
      background: none;
      border: none;
      box-shadow: none;

      &:focus {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:focus-within {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:visited {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:active {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:hover {
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  .next-button, .back-button {
    margin: auto;
  }

  .ant-btn {
    /* outline: solid 1px green; */
    display: inline-block;
    padding: 0.5em;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    margin: 0.5em;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none
  }

  .button {
    width: 150px;
    height: 48px;
    overflow: hidden;
    position: relative;
    margin: 1em;
    color: #fff;
    background: transparent;
    border: none;
    opacity: .6;
    .btn-txt{
      position: relative;
      top: -186px;
      font-size: 14px;
      color: #202020;
    }
    &:hover{
      opacity: 1;
    }
    &:focus{
      border: none;
      outline: none;
    }
    &:active{
      border: none;
    }
  }

  .button::before {
    content: '';
    display: block;
    background: #00FFC4 ;;
    width: 188px;
    height: 200px;
    transform: rotate(45deg);
    position: relative;
    top: -100px;
    right: 50px;
  }

  .button::after {
    content: "";
    display: block;
    background: black;
    width: 188px;
    height: 200px;
    transform: rotate(45deg);
    position: relative;
    top: -436px;
    right: 108px;
  }

  //ant overrides
  // button
  //.ant-btn {
  //  min-width: 205px;
  //  font-size: 18px !important;
  //  font-weight: 300 !important;
  //  padding: 12px 80px !important;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  min-height: 45px;
  //  color: #fff;
  //  //background: transparent;
  //  border: 1px solid $green;
  //  border: none;
  //  line-height: 1;
  //
  //  &:hover {
  //    border: 1px solid $green;
  //    color: $white;
  //    background: transparent;
  //  }
  //
  //  &:active {
  //    color: $white;
  //    background: rgba(11, 171, 118, 0.70);
  //    border: 1px solid #01FCAD;
  //    box-shadow: inset 4px 4px 5px 0 rgba(61, 227, 160, 0.33);
  //  }
  //
  //  &:focus {
  //    color: $white;
  //    background: rgba(11, 171, 118, 0.70);
  //    border: 1px solid #01FCAD;
  //    box-shadow: inset 4px 4px 5px 0 rgba(61, 227, 160, 0.33);
  //  }
  //}
  //
  //.ant-btn[disabled] {
  //  background: transparent;
  //  opacity: .35;
  //  color: $white;
  //  border: 1px solid $green;
  //
  //  &:hover {
  //    border: 1px solid $green;
  //    color: $white;
  //    background: transparent;
  //    opacity: .35;
  //  }
  //}
}
